* {
  font-family: 'Source Sans Pro', serif;
}
body {
  padding-top: 70px !important;
  padding-bottom: 50px !important;
}
#chart-fixer {
  min-height: 500px;
  height: 100%;
  width: 100%;
  margin: auto;
  background: #fff;
  text-align: center
}
#chart {
  min-height: 500px;
  height: 100%;
  width: 100%;
  margin: auto;
  background: #fff;
  text-align: center
}
