<form [ngFormModel]="dailyGroup">
  <!-- Header material -->
  <h1>Daily Tracker</h1>
  <br>

  <!-- Date -->
  <legend>Date</legend>

  <!-- Button Questions -->

  <div *ngFor="#outer of getKeys(buttonQuestions)">
    <legend>{{buttonQuestions[outer].legend}}</legend>
    <label>{{buttonQuestions[outer].explanatoryText}}</label>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <label *ngFor="#inner of getKeys(buttonQuestions[outer].buttons)"
             class="btn btn-default"
             (click)="handleButtonSelection(outer, inner)">
        <input type="radio"
               name="{{outer}}">
          {{buttonQuestions[outer].buttons[inner]}}
      </label>
    </div>
    <br>
    <br>
    <div class="form-group">
      <input [ngFormControl]="dailyGroup.controls.buttonGroup.controls[outer].controls['textField']"
             placeholder="{{buttonQuestions[outer].placeholderText}}"
             class="form-control"
             type="text">
    </div>
    <br>
  </div>

  <!-- Checkbox Questions -->

  <div *ngFor="#outer of getKeys(checkboxQuestions)">
    <label>
      <input type="checkbox"
             (click)="handleCheckboxSelection(outer)">
        &emsp; {{checkboxQuestions[outer]["checkboxPrompt"]}}
    </label>
  </div>
  <br>

  <!-- Form Submit -->

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
