<h2>Daily Tracker</h2>

<form>
    <div *ngFor="#subForm of subForms">
        <fieldset>
            <legend>{{subForm.categoryName}}</legend>
            <label>{{subForm.explanatoryText}}</label>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button"
                            [ngClass]="{'btn btn-block': true,
                                       'btn-primary': option === subForm.selection,
                                       'btn-default': option !== subForm.selection}"
                            *ngFor="#option of subForm.options"
                            (click)="onSelect(option, subForm.classType)">
                        {{option.text}}
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only">{{subForm.subjectiveText}}</label>
                <input class="form-control"
                       type="text"
                       placeholder="{{subForm.subjectiveText}}"
                       [(ngModel)]="subForm.enteredText"/>
            </div>
        </fieldset>
    </div>

    <br/>

    <button type="submit"
            [ngClass]="{disabled: !enableSubmit, 'btn btn-primary': true}"
            (click)="handleSubmit()">
        Submit
    </button>
</form>
