<!-- Header material -->
<h1>Daily Tracker</h1>
<br>

<form [ngFormModel]="dailyGroup">

  <!-- Date -->
  <legend>Date</legend>

  <input type="text"
         [ngFormControl]="dailyGroup.controls['date']"
         readonly="readonly"
         id="date-picker">
  <br><br>

  <!-- Button Questions -->

  <div *ngFor="#outer of getKeys(buttonQuestions)">
    <legend>{{buttonQuestions[outer].legend}}</legend>
    <label>{{buttonQuestions[outer].explanatoryText}}</label>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <label *ngFor="#inner of getKeys(buttonQuestions[outer].buttons)"
             class="btn btn-default"
             [class.error]="submitAttempted | async"
             (click)="handleButtonSelection(outer, inner)">
        <input type="radio"
               name="{{outer}}">
          {{buttonQuestions[outer].buttons[inner]}}
      </label>
    </div>
    <br>
    <br>
    <div class="form-group">
      <input [ngFormControl]="dailyGroup.controls.buttonGroup.controls[outer].controls['textField']"
             placeholder="{{buttonQuestions[outer].placeholderText}}"
             class="form-control"
             type="text">
    </div>
    <br>
  </div>

  <!-- Checkbox Questions -->

  <div *ngFor="#outer of getKeys(checkboxQuestions)">
    <label>
      <input type="checkbox"
             (click)="handleCheckboxSelection(outer)">
        &emsp; {{checkboxQuestions[outer]["checkboxPrompt"]}}
    </label>
    <div *ngIf="checkShowText(outer)">
      <div class="form-group">
        <input [ngFormControl]="dailyGroup.controls.checkboxGroup.controls[outer].controls['textPrompt']"
               placeholder="{{checkboxQuestions[outer].textPrompt}}"
               class="form-control"
               type="text">
    </div>
    </div>
  </div>
  <br>

  <!-- Form Submit -->

  <button type="submit"
          class="btn btn-primary"
          (click)=submitForm()
          [class.disabled]="!dailyGroup.valid">Submit</button>
</form>
